<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto|Fugaz+One&display=swap" rel="stylesheet"/>
        {% assets "styles" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
        {% endassets %}
        {% if title %}
        <title>ArtMachine - {{ title }}</title>
        {% else %}
        <title>ArtMachine</title>
        {% endif %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>